# --- Environnement Virtuel ---
venv/
.venv/
env/
CNN2ENV/
*.bak/

# --- Python & Cache ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# --- Variables d'environnement (CRITIQUE pour PostgreSQL) ---
.env
.envrc

# --- Données et Dataset ---
# On ignore le dossier spécifique que tu as mentionné et le dossier data générique
Data_Kaggle_Emotional_Detection/
data/
*.zip
*.tar.gz

# --- Modèles (Optionnel) ---
# Si tes fichiers .keras ou .h5 font plus de 100 Mo, GitHub les refusera.
# Si tu veux les versionner via Git LFS, ne les ignore pas.
# Sinon, décommente la ligne suivante :
# models/*.keras

# --- Logs et BDD Locales ---
*.log
db.sqlite3
db.sqlite3-journal

# --- IDEs ---
.vscode/
.idea/
.spyderproject
.cursorignore

# --- Système ---
.DS_Store
Thumbs.db